/**************************************
    HOME CSS
***************************************/
.contentHeader {
    color: rgba(0,0,0,0.4);
    padding: 5px;
}
#page-content-wrapper {
    padding: 15px;
}

/**************************************
    TABLE CSS
***************************************/
table {
    width:100%;
}
th {
    text-align:center;
}

td {
    text-align:center;
    width:20%; 
}