.navbar {
    margin-bottom: 0px !important;
}
#wrapper {
    padding-left: 0;
    transition: all 0.5s ease 0s;
}
#wrapper.toggled {
    padding-left: 150px;
}
#sidebar-wrapper {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;
    position: fixed;
    transition: all 0.5s ease 0s;
    width: 0;
    z-index: 1000;
}
#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}
#page-content-wrapper {
    padding: 15px;
    position: absolute;
    width: 100%;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
    position: absolute;
}
.sidebar-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 250px;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    height: 65px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
}
@media (min-width: 768px) {
    #wrapper {
        padding-left: 150px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 150px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        margin-right: 0;
        position: relative;
    }
}
#rightbar-wrapper {
    background: #2F4F4F none repeat scroll 0 0;
    height: 100%;
    right: 250px;
    margin-right: -250px;
    overflow-y: auto;
    position: fixed;
    transition: all 0.5s ease 0s;
    width: 0;
    z-index: 1000;
}
#wrapper #rightbar-wrapper {
    width: 150px;
}
.rightbar-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 250px;
}
.rightbar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.rightbar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}
.rightbar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.rightbar-nav li a:active, .rightbar-nav li a:focus {
    text-decoration: none;
}
.rightbar-nav > .rightbar-brand {
    font-size: 18px;
    height: 65px;
    line-height: 60px;
}
.rightbar-nav > .rightbar-brand a {
    color: #999999;
}
.rightbar-nav > .rightbar-brand a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
}